<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fun APi</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/responsive.css">
</head>
<body>
    <div id="main_container">
        <%- include('./partials/navbar.ejs')%>
        <div id="content">
            <h1>Welcome to Fun Website</h1>
            <h3>Here you will Find number of Prediction Fun </h3>
            <h3>Games, that you can try to relax your mind</h3>
            <button class="btnx">Let's get Started </button>
        </div>
        <%- include('./partials/footer.ejs') %>
    </div>
</body>
</html>